* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#krpanoSWFObject{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/load_black.jpg) !important;
    background-position: center center !important;
    background-repeat:no-repeat !important;
    background:#000000 !important;
}

#start_up{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: #ececec;
    cursor: pointer;
}


#pano_skin_rel{
    width: 100%;
    height: 100%;
    position: relative;    
}

#thumb_container {
    height: 92px;
    width: 100%;
    bottom:50px;
    background: rgba(255, 190, 49, 0.74);
    position: absolute;
    transition: all 0.5s;
    overflow: hidden;
 
    /*opacity: 0.8;*/
}

.thumb_border{
    height: 10px;
    width:100%;
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/border.jpg);
    background-size: auto 100%;
    position: absolute;
    
      
}

.thumbs{
    margin:10px 0 10px 0;
    height:72px;
    width:100%;
}

.top_border{
    top:0;
}

.bottom_border{
    bottom:0;
}

.activethumb{
    border: 3px solid rgb(194, 49, 30) !important;
}

.readed{
    border: 3px solid rgb(216, 131, 20) !important;
}

#flower_contianer,#flower{
    width:186px;
    height: 178px;
    position: absolute;
    left:50%;
    margin-left:-93px;
    bottom:90px;
    background-size:cover;
    pointer-events: none;
    transition: all 0.55s;
}

#flower_contianer {
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/779.png);
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
    animation: flickerAnimation 2.5s infinite;
}

#flower{
    background-image:url(https://cdn.huixinhuiyi.com/zhanshan/img/7710.png);
    pointer-events: none;
}

#namotext{
    position: absolute;
    width:280px;
    height:18px;
    background-image:url(https://cdn.huixinhuiyi.com/zhanshan/img/namotext.png);
    background-size: 100% 100%;
    bottom:144px;
    left:50%;
    margin-left:-140px;
    pointer-events: none; 
    transition: all 0.55s;
    
    
}

#uprighticons{

    width:30px;
    height:200px;
    position: absolute;
    top:50px;
    right:5px;

}

.uprighticon{
    width:30px;
    height:0px;
    margin-bottom:10px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.fullscreen{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/fullscreen.png);
}

.music{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/music_toggle.png);
    background-size: 30px 60px;
    background-position: top;
}

.info{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/info.png);
    height:30px;
}

.vrenter{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/VR.png);
}

.gyro{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/gyro.png);
    
}

.mute{
    background-position: bottom !important;
}


#like{
    position: absolute;
    right:90px;
    top:0px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
}
.like{
    width:30px;
    height:30px;
    float: left;
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/like.png);
    background-size: 30px 60px;
    background-position: top;
}

.liked{
    background-position: bottom !important;
}

.like-connt{
    
    height:30px;
    padding: 3px;
    float: left;
    text-align: left;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.3);
   
    

}

#bottomicons{
    position: absolute;
    bottom:10px;
    
    width:100%;
    
    height:30px;

}

.bottomicon{
    width:30px;
    height:30px;
    background-position: center center;
    background-size: cover;
    
    margin-left:10px;

}
.mouse{
    background: rgba(0, 0, 0, 0.555);
    position:absolute;
    top:50%;
    left:50%;
    width:120px;
    height:72px;
}
.thumbs_toggle{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/thumbs_toggle.png);
}
.intro{
    background-image: url(https://cdn.huixinhuiyi.com/zhanshan/img/intro.png);
    width:60px;
    position: absolute;
    right:8px;
    top:0px;
}
.thumbs_closed{
    height: 0px !important;
}

.flower_onthumbclosed{
    bottom:0px !important;
}

.namotext_onthumbclosed{
    bottom: 54px !important;
}
.lb-container{
    pointer-events: none;
}
.lb-image{
    pointer-events: auto;
}

#info{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.9);
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.img_caption_wrapper{
    position: absolute;
    top:50px;
    width: 100%;
    z-index: 4;
}

.bg_container{
    
    
    margin: 0 auto;
    background-image: url(../images/loading_spinner.gif); 
    background-position: center,center;
    background-size:cover;
    position: relative;
    border-radius: 4px;
    border: 3px solid rgb(255, 255, 255);
    
}

.show_area{
    height: 100%;
    overflow: hidden;
    
    
}
.scroll_bar_v{
    position: absolute;
    width:2px;
    height:100%;
    
    right:5%;
    background: #c2c2c2;
}

.area_slidebar_wrapper{
    position: absolute;
    top:6%;
    height: 88%;
    opacity: 0;
    width:100%;

}

.area_slidebar_wrapper .handle{
    position: relative;
    width: 100%;
    height: 20px;
    background: #000;
    transition: height 0.3s;
}

.caption_intro{
    opacity: 0;
    margin: 0 auto;
}

.active_label .label_text{
    border-bottom: 3px solid rgb(216, 131, 20) !important;
}

.close_button{
    position:absolute;
    right:0;
    top:10px;
    width:26px;
    height:26px;
    background-image: url(../images/close.png);
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

/* .intro_label{
    float:left;
    font-size: 22px;
    margin-right:28px;
    height: 36px;
    cursor: pointer;
    border-bottom: 3px solid rgba(255,255,255,0);
    transition: border-color 0.3s;
} */

.intro_label{
    float:left;
    font-size: 14px;
    margin-right:5px;
    height: 42px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}

.intro_label .label_text{
    float:left;
    font-size: 14px;
    margin-right:5px;
    height: 26px;
    border-bottom: 3px solid rgba(255,255,255,0);
    transition: border-color 0.3s;
    pointer-events: none;
}

#zhanshan_title{
    cursor: pointer;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
